<center><h1>Hello World</h1>
<h2>Kittens are adorable!</h2>
<p>If you ever feel like this poor <i>grumpy</i> cat <br><img src="http://www.fullhdwallpapers3d.com/wp-content/uploads/2013/12/Cute-Cats-and-kittens-images-.jpg" width="259px" height="194px"></p>
<p>Here's a <i>happy</i> cat for you!<br><img src="http://www.catster.com/files/post_images/fe7463a3f8ce678808b406ab4538bbe9.jpg" width="259px"></p>
<h2>Hope you enjoy!</h2>
<p><img src="http://31.media.tumblr.com/tumblr_m20paq9CjN1qbkdcro1_500.png" width="259px"></p>
<h2><i>Nyan!</i></h2>
</center>
