<center>

<div class="jumbotron">

<h1>Hello World</h1>
<h2>Kittens are adorable!</h2>
<p>If you ever feel like this poor <i>grumpy</i> cat <br><div class="col-md-4"><img class="img-responsive" src="http://www.fullhdwallpapers3d.com/wp-content/uploads/2013/12/Cute-Cats-and-kittens-images-.jpg" width="259px" height="194px"></div></p>
<p>Here's a <i>happy</i> cat for you!<br><div class="col-md-4"><img class="img-responsive" src="http://i1.sndcdn.com/artworks-000076714205-np0l6p-original.jpg?164b459" width="259px"></div></p>
<h2>Hope you enjoy!</h2>
<p><div class="col-md-4"><img class="img-responsive" src="http://31.media.tumblr.com/tumblr_m20paq9CjN1qbkdcro1_500.png" width="259px"></div></p>
<h3><i>Nyan!</i></h3>
<br><br>
<p><a class="btn btn-primary btn-lg" role="button" href="/about"><span class="glyphicon glyphicon-star"></span> Learn more</a> <a class="btn btn-danger btn-lg" role="button" href="https://www.google.com/search?q=puppies&tbm=isch"><span class="glyphicon glyphicon-heart"></span> I prefer puppies</a></p>
</div>

</center>
