<div class="page-header">
  <h1>If kittens are not for you... <small>here's <i>puppies</i>!!!</small></h1>
</div>

<div class="row">
  <div class="col-md-4"><img class="img-responsive" src="http://debian.stevenrosenberg.net/fp-content/images/puppy-running.jpg"/ width="500px"></div>
  <div class="col-md-8">
  	<h2>Dog's are man's <b>best</b> friend</h2>

  	<h4>Here's a page dedicated to all the puppy-lovers!</h4>
  </div>

<div class="row">
 <div class="table-responsive">
  <table class="table table-bordered">
  
	<tr>
		<td>
			<a href="http://wp.streetwise.co/wp-content/uploads/2012/06/cute-puppy.jpg" class="thumbnail"><img class="img-responsive" src="http://wp.streetwise.co/wp-content/uploads/2012/06/cute-puppy.jpg"/ width="300px">
			</a></td>
		<td>
			<a href="http://graphicsheat.com/wp-content/uploads/2013/07/tumblr_lo4dgsKxWu1qc7r8vo1_500.jpg" class="thumbnail"><img class="img-responsive" src="http://graphicsheat.com/wp-content/uploads/2013/07/tumblr_lo4dgsKxWu1qc7r8vo1_500.jpg"/ width="300px">
			</a></td>
		<td>
			<a href="http://westtexasweekly.com/wp-content/uploads/2009/08/cute-puppy.jpg" class="thumbnail"><img class="img-responsive" src="http://westtexasweekly.com/wp-content/uploads/2009/08/cute-puppy.jpg"/ width="300px">
			</a></td>
	</tr>
	<tr>
		<td>
			<a href="http://cdn.cutestpaw.com/wp-content/uploads/2011/11/cute-puppy-l1.jpg" class="thumbnail"><img class="img-responsive" src="http://cdn.cutestpaw.com/wp-content/uploads/2011/11/cute-puppy-l1.jpg"/ width="300px">
			</a></td>
		<td>
			<a href="http://www.thepetcollective.tv/wp-content/uploads/2013/11/Cutest-Bulldog-puppy.jpg" class="thumbnail"><img class="img-responsive" src="http://www.thepetcollective.tv/wp-content/uploads/2013/11/Cutest-Bulldog-puppy.jpg"/ width="300px">
			</a></td>
		<td>
			<a href="http://hdwalldownloads.com/wp-content/uploads/2014/03/Cute-Puppies-Wallpaper-Desktop-PC-Image.jpg" class="thumbnail"><img class="img-responsive" src="http://hdwalldownloads.com/wp-content/uploads/2014/03/Cute-Puppies-Wallpaper-Desktop-PC-Image.jpg"/ width="300px">
			</a></td>
	</tr>

  </table>
 </div>
</div>

<center>
<p><a class="btn btn-primary btn-lg" role="button" href="https://www.google.com/search?q=puppies&tbm=isch"><span class="glyphicon glyphicon-star"></span> More puppies?</a> <a class="btn btn-danger btn-lg" role="button" href="https://www.google.com/search?q=kittens&source=lnms&tbm=isch"><span class="glyphicon glyphicon-heart"></span>  No thank you, I want kittens</a></p>
</center>
</div>